.container {
  background-color: rgb(27, 10, 10);
 }
 


.buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -90px;
 }

.startButton {
  margin-top: 10px;
  transform: translateX(-50%);
  padding: 20px 50px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #1c3a4a;
  color: #f8efef;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(92, 36, 36, 0.2);
  animation: throbbing 2s infinite;
  transition: background-color 0.3s ease;
}


.startButton:hover {
  background-color: #219fe8;
  cursor: pointer;
}

@keyframes throbbing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pointSystemContainer{

    display: flex;
    justify-content: center;
    align-items: center;
      
    height: 0%;

  }
  
  .pointSystemImage  {
    height: 0%;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(240, 0, 0, 0.22);
    border: 10px solid #361010; /* remove this line */
    margin-left: 10px;
    margin-top: 100px;
    width: 37%;


  
  }
  .pointSystemImagee  {
    height: 0%;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(240, 0, 0, 0.22);
    border: 10px solid #361010; /* remove this line */
     margin-top: 100px;
    width: 37%;


  
  }