 

.Container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #383232;
  background-image: linear-gradient(rgba(68, 49, 24, 0.2), rgba(55, 4, 4, 0.2));
   width: 100%;
 background-size: cover;
 width: 100%;
 height: 100vh; /* This will cover the full height of the viewport */
}
 

.startButton:hover {
  background-color: #0056b3;
}

.questionTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 20px;
}

.questionContainer{
  display: flex;
  justify-content: center;
 }

.progressBar .progress {
  height: 100%;
  background-color: #007bff;
  border-radius: 4px;
}

.timeRemaining {
  font-size: 16px;
  margin-bottom: 20px;
}



.questionText{

  color: red;
  margin-bottom: 90px;
}

.questionTextContainer{

  display: flex;
  justify-content: center
  
  
  ;
  color: red;
  margin-bottom: 90;
}



 

.questionCard .card-body {
  padding: 20px;
  
}

.questionCard .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

.option {
  display: flex;
  align-items: center;
}

.option .form-check-label {
  margin-left: 10px;
  font-size: 16px;
}

.checkAnswerButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.checkAnswerButton:hover {
  background-color: #1e7e34;
}
  
 
 

.backgroundContainer {
  position: relative;
  width: 50%;
  background-color: #312f2f; /* Slightly darker grey for contrast */
  border-radius: 15px; /* Rounded corners for a modern look */
  overflow: hidden; /* To respect border-radius for image */
}

.imageContainer {
display: flex;
justify-content: center;
flex-direction: row-reverse;
justify-content: space-around;

}
 
.scoreContainer {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text */
}

.score {
  font-size: 2em;
  color: #ffffff;
  font-weight: bold; /* Bold score */
}
 
 .resultScore{
  color: #F41538;
  font-size: 50px;
 }
 
.scoreContainer {
  position: absolute;
  top: 45%;
  right: 15%;
  transform: translateY(-50%);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.score {
  font-size: 3em;
  color: #f2a365;
  font-weight: bold;
  font-family: 'Arial', sans-serif; /* Use any desired font */
}

.resultContainer {
  width: 45%;
  overflow-y: auto;
  background-color: #252424;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
 
  
}

 
.resultCard {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(to right, #443731, #1d0d05);
  box-shadow: 0 14px 28px rgba(0,0,0,0.4),
              0 10px 10px rgba(0,0,0,0.22);
  transition: transform .2s;
  color: #fff;
 }
 
.resultAnswer {
  margin-bottom: 1em;
 
   padding: 15px;
  background-color: rgb(63, 57, 57);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(231, 226, 226, 0.22);
   color: #ffffff;

}




.logo:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}

.logo img {
  margin-top: 8px;
  width: 140px;
  height: 50px;
  filter: brightness(1.3); /* Increase brightness on hover */

}

 
 

.titleContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #f9fcfb;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-bottom: -10px;
 }

.scrollContainer {
  max-height: 450px;
  overflow-y: auto;
  padding: 1em;
}



 
.resultAnswer strong {
  display: block;
  color: #e76f51;
  font-size: 1.2em;
  margin-bottom: 5px;
  font-family: 'Arial', sans-serif; /* Use any desired font */
}

.resultAnswer p {
  margin: 0;
  font-size: 1em; /* Adjust as needed */
  color: #264653;
  font-family: 'Arial', sans-serif; /* Use any desired font */
}
 
  
.bottomContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 13%;
  background-color: #140000; /* Slightly lighter background */
  margin-bottom: 20px;
}
.bottowmContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 13%;
  background-color: #140000; /* Slightly lighter background */
  margin-top: 50px;
}

.buttonHome,
.buttonPlay {
  font-size: 1.5em;
  color: #f9fcfb;
  background: #F41538; /* Vibrant color for attention */
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.buttonHome:hover,
.buttonPlay:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.Imagee{
  height: 600px;
width: 300px;
  margin-top: 0px;
}













.lobbyContainer {
  display: flex;
  flex-direction: column;
  background-color: #383232; /* Light grey background */
   min-height: 100vh;
  
}

 


.startButton {
  margin-top: 10px;
  transform: translateX(-50%);
  padding: 12px 50px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #F41538;
  color: #f8efef;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(92, 36, 36, 0.2);
  animation: throbbing 2s infinite;
  transition: background-color 0.3s ease;
}


.startButton:hover {
  background-color: #F41538;
  cursor: pointer;
}

@keyframes throbbing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

 
  

.bottomContainer2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 13%;
  background-color: #140000; /* Slightly lighter background */
 }
 .bottowmContainer2 {
  position: fixed;
  display: flex;
  font-size: 40PX;
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
  color: #F41538;
  width: 100%;
  height: 60px;
  background-color: #140000; /* Slightly lighter background */
  bottom: 0;
 }

 /* YourComponent.module.css */


 .questionText{
  color: #052a48;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 60px;
  text-align: center;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionButton {
  background-color: #ffffff;
  border: 2px solid #0d203d;
  border-radius: 8px;
  color: #4285f4;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin-bottom: 10px;
}

.optionButton:hover {
  background-color: #F41538;
  color: #ffffff;
}

.questionCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  width: 40%;
  margin: auto;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 60px;
  padding: 50px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);}
  .pointSystemContainer{
  
    display: flex;
    justify-content: center;
    align-items: center;
      
    height: 0%;
    margin-top: 3px;
  
  }
  
  .pointSystemImage  {
  
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    border: 10px solid #2e1818; /* remove this line */
    margin-left: 10px;
     width: 30%;
     height: 40vw;
  
  }
  @media screen and (max-width: 900px) {
    .questionCard {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      width: 100%;
      margin: auto;
      border: none;
      border-radius: 15px;
      background-color: #ffffff;
      margin-top: 10px;
      padding: 50px;
      background-color: #fff;
      border-radius: 40px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
    
     }
  
    .optionButton {
     }
  
    .resultContainer {
      width: 100%;
      overflow-y: auto;
      background-color: #252424;
      border-radius: 20px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
      height: 500px;
     
      
    }
  
    .logo{
  display: flex;
  justify-content: center;
  
    }
    
  
  
    .questionTitle {
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;
     }
  
  
  .logo img {
    margin-top: 0px;
    width: 90px;
    height: 30px;
    filter: brightness(1.3); /* Increase brightness on hover */
  
  }
  .bottomContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 54px;
     margin-bottom: 20px;
  }
   
  
  
  .pointSystemContainer{
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
  }
  
  .pointSystemImage {
    height: auto;
    width: 100%;
    height: 75vh;
    margin-top: 20px;
  }
  
  
  
  
  
  }
