.footer {
  background-color: #140000;
  padding: 40px;
  text-align: center;
}

.imageContainer {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  height: auto;
  display: inline-block;
}

.description {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.column {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
}

.links {
  text-align: left;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-decoration: underline; /* Add this line to add an underline effect */
}

.link {
  color: #777;
  text-decoration: none;
}



.link {
  color: #777;
  text-decoration: none;
}

.text {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.texts {
  font-size: 14px;
  color: #777;
  margin-top: 90px;
 }

.icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -10px;
  height: 30px;

align-self: end;}

.bottom {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .column {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .links {
    text-align: center;
  }
}