.Container {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  
}

  
.bannerContainer {
  display: flex;
  justify-content: center;
  margin-left: -120px;
  width: 110%;
}



.videoWrapper {
  height:500px;
  width:110%;
  overflow:hidden;
  object-fit: cover; /* or use "fill" to stretch the video */
}
