.Container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  background-image: linear-gradient(rgba(68, 49, 24, 0.2), rgba(55, 4, 4, 0.2));
  
 }



.RULES{
  display: flex;
  justify-content: center;
 
}

 
.bannerContainer {
  display: flex;
  justify-content: center;
    text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


 .videoWrapper {
  object-fit:fill;
width: 100vw;
  height: 34vw;
      object-fit: cover; /* or use "fill" to stretch the video */
   background-color: white;
  
}



 

 
.backgroundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  
  width: 98%;
   margin-left: 15px;
   margin-top: 10px;
   margin-bottom: 30px;

  }


 
 

  .skillImage {
    margin-top: 10px;
    width: 21.9%;
    margin-left: 30px;
    height: 50%;
  
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 10px solid #000000;
  
    /* Hover effect */
    transition: transform 0.3s ease;
  }
  
  .skillImage:hover {
    transform: scale(1.1);
  }
  
  /* Cursor effect */
  .skillImage:hover {
    cursor: pointer;
  }
  
 

.gameModeTitle {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

 
}
.lineE{

 

}

 

@media screen and (max-width: 600px) {

 
  .bannerContainer {
     display: flex;
    justify-content: center;
      text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
  
   .videoWrapper {
 
    object-fit:fill;
  width: 100vw;
    height: 200px;
      background-color: white;
    
  }
  

  .skillImage {
    margin-top: 10px;
    width: 21.9%;
    margin-left: 0px;
    height: 50%;
  
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 10px solid #000000;
  
    /* Hover effect */
    transition: transform 0.3s ease;
  }
  .backgroundContainer {
    /* ... */
    width: 90%; /* Remove fixed width */
    /* ... */
  }

}