.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
 }

.container {
  margin-top: 50px;

  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #383232;
  background-image: linear-gradient(rgba(68, 49, 24, 0.2), rgba(55, 4, 4, 0.2));
  width: 100%;
}

.titleWrapper {
   

}
.leaderboard {
  height: 75vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 10px;
  background-color: rgb(63, 57, 57);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(231, 226, 226, 0.22);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  border-left: 10px solid #e33314;
}
.currentUser {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 10px;
  background-color: rgb(63, 57, 57);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(231, 226, 226, 0.22);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  border-left: 10px solid #e33314;
}

.user:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user .rank,
.user .name,
.user .points {
  flex-basis: 30%;
  color: #fcfcfc;
  font-size: 1.2em;
}

.top1 {
  color: #ffd700;
  text-shadow: 0px 0px 10px #ffd700;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.flagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -80px;
  margin-right: 80px;
}

.currentUser {
  border-left: 10px solid #00ff00;
}

.name {
  display: flex;
  align-items: center;
}

@media (max-width: 498px) {
  .name {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to right, #443731, #1d0d05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: transform 0.2s;
    color: #fff;
    margin-top: 100px;
  }
}
