 

    /* loginsignup.module.css */
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Monsterrat', sans-serif;
    height: 100vh;
 background-color: #383232;
    
}

.container {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 868px;
    max-width: 100%;
    min-height: 600px;
}

.errorMessage{

    color: red;
}



.slidingTitle {
    font-weight: bold;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    
}

.title2 {
    font-weight: bold;
    margin-bottom: -30px;

    margin-top: 50px;
    font-family: "Arial", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #7a4700;
    color: -webkit-linear-gradient(to right, #b56832, #48150f);
    color: linear-gradient(to right, #b56832, #48150f);    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.title {
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 30;
    font-family: "Arial", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #7a4700;
    color: -webkit-linear-gradient(to right, #b56832, #48150f);
    color: linear-gradient(to right, #b56832, #48150f);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.link2{

    margin-left: 4px;
    margin-bottom: 40px;
}



.centerText {
    text-align: center;
}

.normalText {
 font-size: 14px;
 font-weight: 100;
 line-height: 20px;
 letter-spacing: 0.5px;
 margin: 20px 0 30px;
}

.smallText {
    font-size: 12px;
}

.link {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.btn2 {
    border-radius: 20px;
    border: 1px solid #ff8d0a;
    background-color: #ff8d0a;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    font-weight: bolder;

}

.btn {
    border-radius: 20px;
    border: 1px solid #ff8d0a;
    background-color: #ff8d0a;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    font-weight: bolder;

}

.Signupbtn{

    font-weight: bolder;
    background: #b56832;
    background: -webkit-linear-gradient(to right, #b56832, #48150f);
    background: linear-gradient(to right, #b56832, #48150f);
    
    font-size: 16px;

    width: 300px;
/* increase the width to 50% */
padding: .7em 1em;
/* increase the padding */
color: #fff;
text-align: center;
text-transform: uppercase;
border: none;
border-radius: 0px;
cursor: pointer;
transition: all 0.3s ease;
text-decoration: none;
/* add margin-left: auto to align the buttons to the right */
/* remove the margin-right */
box-sizing: border-box;
margin-top: 30px;
margin-bottom: 10px;


}

.btnLogin{
    font-weight: bolder;


    background: #b56832;
    background: -webkit-linear-gradient(to right, #b56832, #48150f);
    background: linear-gradient(to right, #b56832, #48150f);
    
    width: 100%;
/* increase the width to 50% */
padding: .7em 1em;
/* increase the padding */
color: #fff;
font-size: 16px;
text-align: center;
text-transform: uppercase;
border: none;
cursor: pointer;
transition: all 0.3s ease;
text-decoration: none;
/* add margin-left: auto to align the buttons to the right */
/* remove the margin-right */
box-sizing: border-box;
width: 300px;
margin-top: 30px;
margin-bottom: 20px;

    
}


.GoogleButton{
    display: flex;
align-items: center;
text-transform: uppercase;
font-weight: bold;

background: -webkit-linear-gradient(to right, #888817, #cccccc);
background: linear-gradient(to right, #f5f5f5, #cccccc);
color: #959494;


font-size: 16px;

    width: 100%;
/* increase the width to 50% */
padding: 1em 2em;
justify-content: center;
background-color: white;
/* reduce padding */
border: 2px solid #eaeaea;
border-radius: 30px;
margin-top: 20px;
cursor: pointer;
text-decoration: none;
box-sizing: border-box;
margin-bottom: 70px;

}

.GoogleButton2{
    display: flex;
align-items: center;
text-transform: uppercase;
font-weight: bold;

color: #959494;
background: -webkit-linear-gradient(to right, #f5f5f5, #cccccc);
background: linear-gradient(to right, #f5f5f5, #cccccc);


padding: 1em 2em;

justify-content: center;
background-color: white;
/* reduce padding */
border: 2px solid #eaeaea;
border-radius: 30px;
margin-top: 20px;
cursor: pointer;
text-decoration: none;
box-sizing: border-box;
width: 100%;
margin-bottom: 80px;
font-size: 15px;

}
.btn:hover,
.btn2:hover,
.Signupbtn:hover,
.btnLogin:hover,
.GoogleButton:hover,
.GoogleButton2:hover,
.buttonTransation:hover {
    cursor: pointer;

  transform: scale(1.05); /* Increase the scale on hover */
}


.logoContainer{
    margin-right: 290px;
    margin-top: -220px;
    margin-bottom: 100PX;

}
.logoContainer2{
    margin-left: 290px;
    margin-top: -220px;
    margin-bottom: 100PX;

}


.inputContainer {
    position: relative;
    width: 100%;
  }
  
  .icon {
    position: absolute;
    top: 35%;
    right: 92%; /* Adjust the value as needed */
  }
  

.GoogleButton2 img ,.GoogleButton img{
        margin-right: 10px;
    }


.btn:active {
    transform: scale(0.95);
}
.btn2:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}
.btn2:focus {
    outline: none;
}

.btnGhost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.flexForm {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;

}

.inputField {
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;

padding: 10px;
border-radius: 6px;
margin-bottom: 10px;
border: 2px solid #EAEAEA;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
font-size: 14px;
color: #444444;
padding-left: 30px;
}  


.inputField2 {
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;

padding: 10px;
border-radius: 6px;
margin-bottom: 10px;
border: 2px solid #EAEAEA;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
font-size: 14px;
color: #444444;
padding-left: 30px;

} 

.MiscContainer{
    display: flex;
justify-content: space-between;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 10px;
}

.rememberPasswordLabel {
    display: flex;
    align-items: center;
    color: #555;
    cursor: pointer;
    font-size: 12px;
    color: #7a4700;
    color: -webkit-linear-gradient(to right, #7a4700, #48150f);
    color: linear-gradient(to right, #7a4700, #48150f);     
     font-weight: bold;
    margin-top: -4px;
    margin-right: 70px;
    }



    .rememberPasswordCheckbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid #ccc;
        border-radius: 3px;
        position: relative;
        margin-right: 4px;
        vertical-align: middle;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease-in-out;
        }
        
        .rememberPasswordCheckbox:checked::before {
        content: '\2714';
        position: absolute;
        top: -3px;
        left: 0px;
        font-size: 16px;
        color: white;
        }
        
        .forgotPasswordLink a {

            font-size: 12px;
          
            color: #7a4700;
            color: -webkit-linear-gradient(to right, #7a4700, #48150f);
            color: linear-gradient(to right, #7a4700, #48150f);            text-decoration: none;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            transition: color 0.3s ease;
            margin-top: 15px;
            margin-right: 5px;
          
          
          }
          
        
        .rememberPasswordCheckbox:checked {
            background: #7a4700;
            background: -webkit-linear-gradient(to right, #7a4700, #48150f);
            background: linear-gradient(to right, #7a4700, #48150f);
        }
        
        .rememberPasswordCheckbox {
        color: red;
        }
            


.buttonTransation {
    border-radius: 20px;
    border: 1px solid #ff8d0a;
    background-color: #ff8d0a;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.buttonTransation:active {
    transform: scale(0.95);
}

.buttonTransation:focus {
    outline: none;
}




.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}



.signUpContainer, .signInContainer, .overlayContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.signInContainer {
    left: 0;
    width: 50%;
    z-index: 2;
    margin-top: -50px;
}

.container.rightPanelActive .signInContainer {
    transform: translateX(100%);
}

.signUpContainer {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    margin-top: -30px;
}

.container.rightPanelActive .signUpContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlayContainer2 {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.rightPanelActive .overlayContainer {
    transform: translateX(-100%);
}

.overlay {
    background: #7a4700;
    background: -webkit-linear-gradient(to right, #7a4700, #48150f);
    background: linear-gradient(to right, #7a4700, #48150f);
    
    
    
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
    transform: translateX(50%);
}

.overlayPanel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlayLeft {
    transform: translateX(-20%);
}

.container.rightPanelActive .overlayLeft {
    transform: translateX(0);
}

.overlayRight{
    right: 0;
    transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
    transform: translateX(20%);
}

.socialContainer {
    margin: 20px 0;
}

.socialContainer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    height: 40px;
    width: 40px;
 
}





@media (max-width: 498px) {

    .container{

        height: 65%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }


    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Monsterrat', sans-serif;
        height: 100vh;
        margin-top: -30px;
    
        
    }
    

  
    .signInContainer{
      height: 100%;
      width: 100%;
      margin-top: 50px;
    }

    .signUpContainer{

        display: flex;
        align-items: center;
        margin-left: -103%;
width: 100%;

margin-top: 40px;
    }

    .title{
        font-size: 20px;
    }

 

.btn2Container{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
margin-top: 50px;


}

.btn2 {
    border-radius: 20px;
    border: 1px solid #ff8d0a;
    background-color: #ff8d0a;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-left: 20px;
    
}








    .overlayContainer2{
        
        width: 498px;
        height: 18%;
        margin-top: 0px;
        margin-left: -250px;
        transition-property: none !important;
    transform: none !important;

    }
   
    
  
   .overlayContainer{
    display: none;
   }
  
    .overlayContainer {
        transition-property: transform; /* Remove the '0.6s ease-in-out' value */
      }
    
      .container.rightPanelActive .overlayContainer {
        transform: translateY(-100%); /* Change 'translateX' to 'translateY' and use '-100%' */
      }
    
      .overlay {
        background-position: 0 100%; /* Change the background-position to '0 100%' */
      }
    
  

  
 
    
  }
  

  .select{


    width: 100%;
    overflow:visible;
    border-radius: 50px;
  }
 

  