.navBar {
  height: 70px;
  padding: 0 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: 'Montserrat';
  opacity: 1;
}

.dash{

  margin-left: 5px;
  margin-right: -15px;
}
.dropdownPosition {
  width: 15px;
  height: 15px;
  /* Add your desired positioning styles here */
  position: relative;
  top: px; /* Adjust this value to move the dropdown up or down */
}


.logo {
  font-size: 24px;
  color: #ff7f50;
  margin-left: 40px;
}

.navLinks,
.authLinks,.navLinkLogin {
  list-style-type: none;
  display: flex;
  color: white;
  font-weight: bolder;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: -4px;
}


.navLinkLogin{
  margin-left: 5px;
}

.authLinks{

  margin-right:100px ;
}


.navLink {
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
}
a.navBar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #333;
}



.navLink {
margin-left: 20px;
cursor: pointer;
transition: color 0.3s;
}

.navLink,.navLinkLogin {
color: #4d1903;
}

.menuIcon {
display: none;
color: black;
cursor: pointer;
background-color: bisque;
}

.mobileMenu {
display: none;
position: absolute;
top: 50px;
right: 20px;
background: #333;
color: #fff;
width: 200px;
border-radius: 8px;
padding: 10px;
}

@media screen and (max-width: 500px) {
.navLinks {
  display: none;
}

.menuIcon {
  display: block;
}

.mobileMenu {
  display: block;
}
}

.navLink:hover {
  color: #ff7f50;
}

.menuIcon {
  display: none;
  color: #fff;
  cursor: pointer;
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 50px;
  right: 20px;
  background: #333;
  color: #fff;
  width: 200px;
  border-radius: 8px;
  padding: 10px;
}
/* Navbar.module.css */


.logo:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}

.logo img {
  width: 120px;
  height: 40px;
}

.logo:hover img {
  filter: brightness(1.2); /* Increase brightness on hover */
}