.navBar {
  height: 70px;
  padding: 0 50px;
  background-color: #140000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  font-family: 'Montserrat';
  position: fixed;
  z-index: 999; /* Add a higher z-index to ensure it stays on top of other elements */
}

.dash{

  margin-left: 5px;
  margin-right: -15px;
}
.dropdownPosition {
  width: 15px;
  height: 15px;
  /* Add your desired positioning styles here */
  position: relative;
  top: px; /* Adjust this value to move the dropdown up or down */
}


.logo {
  font-size: 24px;
  color: #ff7f50;
  margin-left: 40px;
  cursor: pointer;
}

.navLinks,
.authLinks,.navLinkLogin {
  list-style-type: none;
  display: flex;
  color: white;
  font-weight: bolder;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: -4px;
  
}


.navLinkLogin{
  margin-left: 5px;
}

.authLinks{

  margin-right:100px ;
}


 
a.navBar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #333;

}



.navLink {
margin-left: 20px;
cursor: pointer;
transition: color 0.3s;
}

.navLink, .navLinkLogin {
  color: rgb(224, 207, 202);
}
.menuIcon {
display: none;
}

.mobileMenu {
display: none;
position: absolute;
top: 50px;
right: 20px;
background: #333;
color: #fff;
width: 200px;
border-radius: 8px;
padding: 10px;
}


.navLink:hover {
  color: #ff7f50;
}

 
.mobileMenu {
  display: none;
  position: fixed;
  top: 50px;
  right: 20px;
  background: #333;
  color: #fff;
  width: 200px;
  border-radius: 8px;
  padding: 10px;
}
/* Navbar.module.css */


.logo:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}

.logo img {
  margin-top: 8px;
  width: 140px;
  height: 50px;
  filter: brightness(1.3); /* Increase brightness on hover */


}

.menuIconContainer {
  display: none;
  position: relative;
}
@media screen and (max-width: 500px) {
  .navLinks {
    display: none;
  }

  .menuIconContainer {
    display: block;
    cursor: pointer;
  }

  .mensuIcon {
    background-color: #ac791c; /* Give it a nice, vibrant color */
    font-size: 25px; /* Increase the size of the icon */
    margin-top: 4px;
  }

  .mobileMenu {
    display: block;
    position: absolute;
    top: 70px; /* Adjust this value as needed */
    right: 0;
    width: 100%;
    background: #4b2214; /* Make it stand out */
    color: #fff;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Adds a subtle shadow */
    border-radius: 0px;
    transition: all 0.3s ease; /* Transition effect */
    z-index: 10; /* Ensures the menu appears above all other content */
  }

  .mobileMenu li {
    padding: 15px 0;
    border-bottom: 1px solid #fff; /* Adds a border line between menu items */
    list-style: none; /* Remove bullet points */
  }

  .mobileMenu li:last-child {
    border-bottom: none; /* Removes the border line for the last item */
  }

  .logo{
    margin-left: -10px;
  }
  
  .mobileWelcomeUser {
    display: block;
  }
  
  .desktopWelcomeUser {
    display: none;
  }
}

  
@media screen and (min-width: 501px) {
  .mobileWelcomeUser {
    display: none;
  }
  
  .desktopWelcomeUser {
    display: block;
  }
}
